@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --primary-color: #232C3C;
    --secondary-color: #9E8B5C;
    --accent-color: #F0A500;
    --background-color: #F5F5F5;
    --text-color: #88879e;
    --primary-font: "Roboto", sans-serif;
    ;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--primary-font);
}

img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none !important;
    color: initial !important;
}

input:focus,
textarea:focus,
select:focus {
    outline: none !important;
}

/* header */

header {
    position: sticky;
    top: 0;
    z-index: 1020;
    /* Ensure it's above other elements like content */
    background-color: var(--navbar-bg);
    /* Maintain background color */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    /* Optional shadow for effect */
}

nav {
    background-color: var(--background-color) !important;
}

.navbar-brand {
    width: 180px;

}

header li .nav-link {
    color: var(--primary-color) !important;
    padding: 10px 0 10px 30px !important;
    font-weight: bold;
}

/* Hero */

.home-hero {
    background:
        linear-gradient(rgba(0, 0, 0, 0.5),
            /* Dark overlay with transparency */
            rgba(0, 0, 0, 0.5)
            /* Same color to cover the entire section */
        ),
        url('./images/home02.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}


.hero-page {
    height: 500px;
}

.hero-heading {
    color: #FAFAFA;
    font-size: 40px;
    font-weight: 700;
}

.hero-content {
    opacity: 0.8;
}

.service-button {
    background-color: #ffffff !important;
    color: var(--primary-color);
    border: none;
    padding: 12px 45px !important;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.service-button:hover {
    border: 1px solid #ffffff !important;
    background-color: transparent !important;
    color: #ffffff !important;
}

.social-icons li a:hover {
    background-color: #ffffff;
    color: var(--primary-color) !important;
    transition: all 0.3s ease;
}

/* About us */

.about-us {
    padding-top: 6em;
    padding-bottom: 6em;
}

.section-subheading {
    color: var(--secondary-color);
    font-weight: 800;
    font-size: 14px;
    text-transform: uppercase;
}

.section-heading {
    font-weight: 400;
    font-size: 40px;
    line-height: 56px;
    color: var(--primary-color);
}

.section-content {
    color: var(--text-color);
    line-height: 29px;
}

.section-button {
    background-color: var(--primary-color) !important;
    color: #ffffff !important;
    border: none;
    padding: 12px 45px !important;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.section-button:hover {
    background-color: #ffffff !important;
    color: var(--primary-color) !important;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease;
}

/* Counters */

.counters {
    padding-top: 6em;
    padding-bottom: 6em;
    background:
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('./images/home03.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

.counter {
    color: #ffffff;
}

.counter-number {
    font-size: 84px;
    line-height: 84px;
    font-weight: 800;
}

.counter-title {
    font-size: 20px;
    font-weight: 700;
}

/* Services */

.services {
    padding-top: 6em;
    padding-bottom: 6em;
    background-color: var(--background-color);
}

.service-box {
    margin-bottom: 30px;
}

.service {
    background-color: #ffffff;
    border-radius: 30px 0 30px 0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease;

}

.service-logo i {
    color: var(--secondary-color);
    font-size: 40px;
}

.service-logo {
    background-color: var(--background-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    margin: 0 auto;
    padding-top: 10px;
}

.service-head {
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 10px;
    color: var(--primary-color);
}

.service-description {
    color: var(--text-color);
}

.service:hover {
    color: #ffffff !important;
    background-color: var(--primary-color);
    transform: translateY(-10px);
    transition: all 0.5s ease;
}

.service:hover .service-head {
    color: #ffffff !important;
}

.service:hover .service-description {
    color: #ffffff;
    opacity: 0.8;
}

.service:hover .service-logo {
    background-color: #ffffff;
}

/* Contact */

.contact {
    /* background-color: rgba(0, 0, 0, 0.85); */
    background-color: var(--background-color);
    background-size: cover;
    background-position: 50%;
    padding-top: 6em;
    padding-bottom: 6em;
}

.contact-form,
.contact-info {
    background-color: #ffffff;
    border-radius: 30px 0 30px 0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.contact-form input::placeholder,
textarea::placeholder {
    color: var(--primary-color) !important;
}


.contact-info p {
    opacity: 0.9 !important;
}

.sub-contact {
    color: var(--primary-color);
    font-size: 1.5rem !important;
    font-weight: 600 !important;
}

.sub-contact-para {
    color: var(--secondary-color);
}

.contact-icon i:hover {
    color: var(--secondary-color) !important;
    transition: all ease 0.3s;
}

.form-head {
    font-size: 13px !important;
    color: var(--secondary-color);
}

.form-input {
    background-color: transparent;
    color: var(--primary-color);
    border-right: 0;
    border-left: 0;
    border-top: 0;
    border-bottom: 2px solid var(--primary-color) !important;
}


.btn-form {
    background-color: var(--primary-color);
    color: white;
    font-weight: 500;
    letter-spacing: 0.2rem;
}

iframe {
    width: 100%;
    height: 250px;
}


/* footer */

.footer {
    padding-top: 3em;
    padding-bottom: 3em;
    background-color: var(--primary-color);
}

.footer-logo {
    width: 180px;
    background-color: var(--background-color);
}

.footer-text {
    color: #ffffff;
    opacity: 0.8;
}

.footer ul li {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    opacity: 0.75;
    transition: all 0.5s ease;
}

.footer ul li:hover {
    opacity: 1;
    text-decoration: underline;
    transition: all 0.5s ease;
}

.to-top {
    position: fixed;
    right: 15px;
    bottom: 15px;
    height: 40px;
    width: 40px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border-radius: 50%;
}

/* Service Page */

.service-hero-heading {
    font-size: 64px;
    font-weight: 700;
}

.service-hero {
    background:
        linear-gradient(rgba(0, 0, 0, 0.5),
            /* Dark overlay with transparency */
            rgba(0, 0, 0, 0.5)
            /* Same color to cover the entire section */
        ),
        url('./images/service-hero2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 30%;
}

.service-hero-page {
    height: 500px;
}

.service-block {
    background-color: var(--background-color);
}

.our-service-row {
    padding-top: 5em;
    padding-bottom: 5em;
}

@media (min-width: 769px) {
    .hero-page {
        height: 600px;
        /* Adjust height for small desktops */
    }

    .hero-heading {
        font-size: 60px;
    }
}

/* Large desktops (min-width: 1200px) */
@media (min-width: 1200px) {
    .hero-page {
        height: 700px;
        /* Adjust height for large desktops */
    }
}